.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
    width: 100%
}

.tim-typo .tim-note {
    bottom: 5px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px
}

.offline-doc .navbar.navbar-transparent {
    padding-top: 25px;
    border-bottom: none
}

.offline-doc .navbar.navbar-transparent .navbar-minimize {
    display: none
}

.offline-doc .navbar.navbar-transparent .navbar-brand,.offline-doc .navbar.navbar-transparent .collapse .navbar-nav .nav-link {
    color: #fff!important
}

.offline-doc .footer {
    z-index: 3!important
}

.offline-doc .page-header .container {
    z-index: 3
}

.offline-doc .page-header:after {
    background-color: rgba(0,0,0,.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

#map {
    z-index: 2;
    height: calc(100vh - 70px);
    margin-top: 5px
}

#custom-scroll::-webkit-scrollbar {
    width: 5px
}

#custom-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px
}

#custom-scroll::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px
}

#custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #5b94c9
}

.file-upload {
    margin: 0 10px 0 25px
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    font-size: 20px;
    cursor: pointer;
    height: 36px;
    filter: alpha(opacity=0)
}

#fileuploadurl {
    border: none;
    font-size: 12px;
    padding-left: 0;
    width: 250px
}

.selectAvatar {
    position: relative;
    top: 40px;
    text-align: right;
    white-space: nowrap
}

.selectThumbnail {
    position: absolute;
    top: 13%;
    text-align: left;
    white-space: nowrap;
    left: 88%;
    transform: translate(-50%, -50%);
}

td.tottal-td {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid
}

p.rat-err {
    font-size: 12px;
    padding: 2px;
    color: red;
    font-weight: 500;
    display: none
}

table#table_appraisal input {
    width: 100px;
    text-align: center
}

table#table_appraisal td {
    border: 1px solid gray;
    text-align: center
}
