
.table thead tr th {
    font-size: 15px;
    border: 0px;
    font-weight: 400 !important;
    text-align: left !important;
    padding: 12px 5px !important;
    line-height: 19px;
}
.table thead {
    /*background-color: #6c6e6e1c;*/
}

.table {
    border-radius: 10px !important;
    overflow: hidden;
    background-color: #fff !important;
}
.table tbody tr td img {
    width: 50px;
    height: 50px;
    object-fit: fill;
}

.table tbody tr td.td-actions.text-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table thead tr th.td-actions.text-center.sorting_disabled {
    width: 172px !important;
}
.table.table-hover tbody tr:hover {

    background-color: unset !important
}
.table>tbody>tr>td {
    padding: 7px 10px;
    line-height: 19px;
    color: #000 !important;
    font-weight: 300 !important;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-left: 0px !important;
    border-right: 0px !important;
    border-color: #dddddd59 !important;
}

.table tbody tr td .togglebutton label {
    margin: 0 !important;
}
.table tbody tr td i.material-icons {
    color: #fff !important;
}
.sidebar[data-background-color=black] {
    background: #295d9f !important;
}
.sidebar[data-background-color="black"] .nav .nav-item i {
    color: #fff;
}

.sidebar[data-background-color="black"] .nav .nav-item .nav-link {
    color: #fff;
}
.sidebar[data-background-color="black"] .user a {
    color: #fff;
    font-weight: bold;
    font-size: 20px !important;
}
.sidebar .nav li:hover>a {
    background: linear-gradient(90deg, rgb(163, 179, 250) 0%, hsl(0deg 0% 100% / 36%) 24%, hsl(0deg 0% 100% / 25%) 52%);
}

.sidebar ul.nav li.nav-item.active a {
    background: linear-gradient(90deg, rgb(211, 217, 245) 0%, hsl(0deg 0% 100% / 36%) 24%, hsl(0deg 0% 100% / 25%) 52%);
}


a.nav-link[aria-expanded="true"] {
    background-color: #ffffff2e !important;
}


.collapse.show ul.nav li.nav-item a.nav-link {
    background-color: #ffffff2e !important;
}

.collapse.show ul.nav li.nav-item a.nav-link {
    background-color: #ffffff2e !important;
    border-radius: 0px;
}

.sidebar[data-color="yellow"] li.active>a {
    box-shadow: unset;
    font-weight: bold;
}


a.nav-link[aria-expanded="false"] {
    position: relative;
}


a.nav-link[aria-expanded="true"] {
    position: relative;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #00aadb;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00aadb;
}
.header-frm-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 12px !important;
    height: 34px !important;
    line-height: 45px !important;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #000 !important;
}
.bootstrap-select>.dropdown-toggle {
    padding-right: 0px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {

    border-width: 3px 3px 0 3px !important;
}
.header-frm-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-group.header-frm-btn>form {
    box-shadow: 0px 0px 10px 9px #eeee;
    padding: 19px;
    border-radius: 20px;
    width: 100% !important;
}
.header-frm-btn .p-2 {
    width: 20% !important;
}
.header-frm-btn .p-2 button.btn {
    width: 100%;
}
.header-frm-btn .p-2 button.btn i {
    color: #fff;
    width: 100%;
    text-align: center;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 3px 3px 0 3px !important;
    top: 75%;
    border-color: #000 transparent transparent transparent;
}
input#start_date {
    border-bottom: 1px solid #d2d2d2 !important;
    border-radius: 0px;
}
input#end_date {
    border-bottom: 1px solid #d2d2d2 !important;
    border-radius: 0px;
}
input#start_date::placeholder {
    text-transform: uppercase;
    font-size: 12px !important;
}
input#end_date::placeholder {
    text-transform: uppercase;
    font-size: 12px !important;
}
.next-btn form {
    margin-right: 10px;
}
.next-btn a.btn {
    margin-right: 10px !important;
}
.next-btn span.btn {
    margin-right: 10px;
}
.next-btn i {
    color: #fff;
}
.dataTables_info {
    color: #000 !important;
    font-weight: 400;
}
.dataTables_length label {
    color: #000;
}
.dataTables_filter label {
    color: #000;
}
.dataTables_length select.custom-select {
    width: 100px !important;
    border: 1px solid lightgrey !important;
}
ul.pagination li a {
    color: #000 !important;
}
ul.pagination li.active a {
    color: #fff !important;
    background-color: #00acd8 !important;
}
.next-btn .btn-just-icon {
    padding: 40px;
    text-align: center;
}
.next-btn .btn-just-icon i {
    text-align: center;
    width: 100%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%!important;
}

.sidebar .nav li>a:hover, .sidebar .nav li>a:focus {
    border-radius: 50px;
}


.collapse.show ul.nav li.nav-item a.nav-link {
    border-radius: 50px;
}


.next-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end!important;
    margin-top: 20px;
    width: 100%;
}

.next-btn .btn-just-icon {
    padding: 20px!important;
    text-align: center!important;
    border-radius: 50px!important;
}
.ctmr-box {
    background-color: #fff;
    margin-bottom: 11px;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #a9a3a336!important;
}

.ctmr-box ul.list-group li {
    padding: 8px 15px!important;
    border-bottom: 1px solid #a9a3a336!important;
    color: #000!important;
}

.ctmr-box h6 {
    padding: 14px!important;
    font-size: 17px;
    color: #055f9c;
    text-transform: capitalize;
    padding-bottom: 0px!important;
}

.ctmr-box ul.list-group li:last-child {
    border-bottom: 0px!important;
}

.activity-conv {
    box-shadow: 0px 0px 11px 2px #eee;
    background-color: #fff;
    margin-top: 44px;
}

.activity-conv .card-header {
    background-color: #055f9c;
    color: #fff;
    text-transform: capitalize!important;
    font-size: 24px;
    padding: 9px!important;
}

.activity-conv .card-header h6 {
    font-size: 18px;
    text-transform: capitalize;
}

.activity-conv ul.timeline {
    margin-top: 0px;
}

.activity-conv ul.timeline li {
    margin-bottom: 5px!important;
}

.activity-conv ul.timeline li .timeline-panel {
    padding: 5px;
    margin-bottom: 2px;
}
.activity-conv ul.timeline li .timeline-panel .timeline-heading {
    margin-bottom: 5px;
}

.activity-conv ul.timeline li .timeline-panel h6 {margin-top: 0px;}
.all-points {
    background-color: #eee;
}

.all-points .col-md-2 .card {
    margin: 20px 0px;
    padding: 5px!important;
}

.all-points .col-md-2 .card {
    text-shadow: unset!important;
    font-weight: 300!important;
    color: #000;
    line-height: 40px!important;
}

.all-points .col-md-2 .card span {
    font-weight: 600;
}
.view-tab {
    background-color: #eee;
    padding: 10px;
}

.sidebar[data-background-color="black"] .nav .nav-item .nav-link {
    border-radius: 50px!important;
}
.sidebar ul.nav li.nav-item.active a {
    border-radius: 50px!important;
}
.lb-nav a.lb-next, .lb-nav a.lb-prev{
    width: 50% !important;
    background-size: 20% !important;
}

.input-field {
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.input-field > .row {
    margin: 0px;
}

.input-field > .row label {
    color: #000;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
#kyc .row .fileinput {
    width: 100%;
    text-align: left!important;
    display: flex;
}

#kyc .row .fileinput .fileinput-new.thumbnail {
    width: 100%!important;
    max-width: 100%;
    text-align: center;
    box-shadow: unset !important;
}

#kyc .row .fileinput .fileinput-new.thumbnail img {
    width: 80%!important;
    height: 250px;
    margin: auto!important;
    object-fit: cover;
    border-radius: 5px !important;
}
#kyc > .row {
    margin: 0px;
    padding: 15px;
}

div#kyc {
    border: 0px!important;
}

#kyc label.bmd-label-floating {
    color: #000;
    font-size: 18px;
    font-weight: 500;
}

.act-btn {
    position: absolute;
    top: 8px;
    right: 25px;
}
.act-btn button.btn{
    font-size: 10px !important;
    font-weight: 800 !important;
    padding: 5px 10px !important;
}

.img-cvr {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 0px 0px 10px 10px lightgray;
    min-height: 510px !important;
}

.input-field {
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: #055f9c29;
    margin-bottom: 25px;
    border: 1px solid #055f9c;
    border-radius: 6px;
}


#kyc .form-group {
    margin: 0px!important;
    padding-bottom: 0px;
}


#kyc .form-control:disabled, #kyc .form-control[readonly] {
    background-color: transparent;
}

.empty-div {
    height: 68px;
}

.collapse li.nav-item {
    margin-left: 6px;
}

/***************** Loader CSS Start******************/

.loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/***************** Loader CSS end******************/

